@charset "utf-8";

// Brand colors
$blue: #1090fc;
$red: #fa3e7a;
$green: #00df84;
$grey-dark: #6f6b80;
$grey-light: #c9c6d8;
$grey-darker: #01022a;
$white-ter: #fafafb;

$family-sans-serif: soleil, sans-serif;
$grey: $grey-light;
$primary: $blue;
$link: $grey-darker;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 1px;
$input-color: $grey-darker;
$input-border-color: rgba(1, 2, 42, 0.06);
$input-hover-border-color: rgba(1, 2, 42, 0.2);
$input-shadow: 0 0 0 0 rgba(16, 144, 252, 0);
$input-focus-box-shadow-color: rgba(16, 144, 252, 0.2);
$input-background-color: rgba(243, 243, 249, 0.3);
$input-focus-border-color: rgba(16, 144, 252, 0.4);
$input-icon-color: $grey-light;
$input-icon-active-color: $grey-dark;
// $control-radius: 6px !important;
$file-cta-color: $grey-dark;
$file-border-color :rgba(1, 2, 42, 0.06);
$file-cta-background-color: rgba(243, 243, 249, 0.3);
$menu-item-color: rgba(255, 255, 255, 0.4);
$menu-item-hover-color: $red;
$menu-item-active-background-color: transparent;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: rgba(255, 255, 255, 0.9);
$box-radius: 10px;
$box-shadow: 0 3px 30px rgba(77, 103, 255, 0.08),
  0 1px 15px rgba(77, 103, 255, 0.05);
$box-background-color: #fff;
$box-padding: 1.75rem;
$navbar-height: 2.75rem;
$breadcrumb-item-active-color: $grey-dark;
$breadcrumb-item-separator-color: $grey-light;
$breadcrumb-item-padding-horizontal: 0.50em;
$navbar-dropdown-boxed-shadow: 0px 3px 5px rgba(111, 107, 128, 0.2),
  0 0 0 1px rgba(111, 107, 128, 0.2);
$dropdown-menu-min-width: 6rem;
$dropdown-item-hover-background-color: transparent;
$dropdown-item-active-background-color: $primary;
$button-border-color: $grey-light;
$button-hover-border-color: $grey-dark;
$button-static-color: $grey-dark;
$button-static-background-color: $white-ter !important;
$navbar-padding-vertical: 1rem;
$navbar-item-hover-background-color: transparent !important;
$modal-background-background-color: rgba($white-ter, 0.99) !important;

// $control-height: 2.25em;
// $control-padding-vertical: calc(0.375em - 1px);
// $control-padding-horizontal: calc(0.625em - 1px);
$button-padding-vertical: calc(0.375em - 1px);
$button-padding-horizontal: 0.75em;

$size-1: 2.6em;
$size-2: 2em;
$size-3: 1.8em;
$size-7: 0.85em;
$body-line-height: 1.8;
$title-line-height: 1.3;
$tag-background-color: $white-ter;
$has-text-primary: $blue;
$footer-background-color: transparent;
$footer-padding: 1rem;

$label-weight: 600;
$navbar-breakpoint: 0;

$table-head-cell-border-width: 0 0 1px !important;
$table-row-hover-background-color: $white-ter;
$table-background-color: transparent;

$dimensions: 16 24 32 48 64 72 96 128;


@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-timeline/src/sass/index.sass"; 




// custom styles

html {
    background-color: $white-ter;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fff #e8e8e8;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }
  
  *::-webkit-scrollbar-track {
    background: $white-ter;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #e8e8e8; 
  }

  @include until($tablet) {
    .section {
      padding: 3em 1em;
    }
  }